body {
  line-height: 2rem;
}

/* ***** Focus ***** */
a:focus, button:focus, input:focus, img:focus { outline:0 }

/* ***** text justify */
.justify, .justified { text-align:justify }

/* ***** useful debug class */
.debug {
  border:1px solid red;
  background: yellow;
}

.navbar-brand-bottom {
  display: block;
  width: 64px;
  height:64px;
}



body {
  background: #17242D;
}
#content-section {
  background:#F2F2F2;
}
#footer-content {
  background: #17242d;
  color: #fff;
  padding: 3rem 0;
}