/* overrides */
.inner { max-width: 990px; }
.debug { background: yellow; border:1px solid red }


/* HEADER */
#forkme_banner {
  display: flex;

}
.tar_download_link,
.zip_download_link {
  width: 47px;
  height: 36px;
  min-width: 47px;
  min-height: 36px;
  max-width: 47px;
  max-height: 36px;
  background-size: 90px;
  margin: 0 .5rem;
  float: none;
}
.github_view_link {
  color:ghostwhite;
  line-height: 36px;
}

.g-logo {
  margin: 2rem 0 0 2rem;
}


/* MAIN NAVBAR TOP */
#navbar-main-top .glyphicon {
  top:0;
  max-height: 36px;
  margin-top: 1rem;
}





.navbar { 
  margin-bottom:0;
}
.navbar-inner {
  max-width: 640px;
}
.navbar-brand {
  padding:0;
}
.navbar-brand-logo {
  line-height: 36px;
  display: flex;
}
.navbar-logo {
  width: 36px;
  height: 36px;
  padding:0;
  margin:.5rem;
  display: block;
  box-shadow: none;
  border:0;
}
.navbar-logo-text {
  display: block;
  margin-top:10px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.navbar-collapse {
  padding-left:0;
}

body .navbar-brand, 
body .navbar-logo-text {
  color: #0090FF;
}