<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {% include common/header.html %}
  </head>

  <body>
    <header id="content-header">
      {% include common/navbar.html %}
    </header>

    {% if page.breadcrumb %}
    <div class="container-fluid container-breadcrumb">
      <div class="container">
        {% include common/breadcrumb.html %}
      </div>
    </div>
    {% endif %}

    {% if page.submenu %}
    <div id="content-submenu" class="container-fluid container-submenu">
      <div class="container">
      {% include common/submenu.html %}
      </div>
    </div>
    {% endif %}
    
    {% include extra/google-adsense.html %}

    <section id="content-section" class="container-fluid">
      <div id="content-layer" class="container">
        {{ content }}
      </div>
    </section>

    {% include extra/google-adsense.html %}

    {% include common/footer.html %}
    {% include extra/bootstrap-js.html %}
    {% include extra/google-analytics.html %}
  </body>
</html>